{% extends 'base.html' %}

{% block title %} - {{ component.name|title }}{% endblock %}

{% block content %}
    <div class="container">
        
        {% set first_qpm = (60 / component.speed) * component.quantity %}
        
        <h1 class="component-heading">{{ component.name|title }}</h1>
        <h3>Made in: {{ component.made_in|title }}</h3>
        <h3>Cycle time: {{ component.speed }} seconds</h3>
        <h3>Recipe makes qty {{ component.quantity }} per cycle, qty {{ "%.2f"|format(first_qpm) }} per minute</h3>
        
        <form method="post">
            <label for="qpm">Qty Per Minute Desired:</label>
            <input name="qpm" id="qpm" type="number" min="0.00" step="0.01" value="{{ qpm }}" required>
            <input type="submit" value="Calculate">
        </form>

        {% if first_qpm != qpm %}
        <h3>{{ "%.2f"|format(qpm) }} per minute requires {{ "%.2f"|format(qpm/first_qpm) }} buildings</h3>
        {% endif %}
        
        <hr>

        <h3>Ingredients for {{ "%.2f"|format(qpm) }} per minute:</h3>
        
        <ul>
            {% for key, ingredient in ingredients.items() recursive %}
                {% set building_qpm = (60 / ingredient.ingredient.speed) * ingredient.ingredient.quantity %}
                <li>
                    <a href="{{ url_for('components.component_by_id', id=ingredient.ingredient.id) }}">
                        {{ ingredient.ingredient.name|title }}</a> ({{ ingredient.ingredient.made_in|title }}) - {{ "%.2f"|format(ingredient.qpm) }} per min - {{ "%.2f"|format(ingredient.qpm/building_qpm) }} buildings
                </li>

                {% if ingredient.ingredients %}
                    <ul>
                        {{ loop(ingredient.ingredients.items()) }}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>

{% endblock %}