{% extends 'base.html' %}

{% block title %} - Components{% endblock %}

{% block content %}
    <div class="container">
        {% for building in building_list %}
            <h2 class="component-heading">{{ building|title }}</h2>

            <ul>
                {% for component in components %}
                    {% if component.made_in == building %}
                        <li class="my-list-item">
                            {% if component.made_in not in ("by_hand", "miner") %}
                            <h3><a class="my-link" href="{{ url_for('components.component_by_id', id=component.id) }}">{{ component.name|title }}</a> qty {{ component.quantity }}</h3>
                            {% else %}
                            <h3>{{ component.name|title }} qty {{ component.quantity }}</h3>
                            {% endif %}
                            <ul>
                                {% for ingredient in component.ingredient_list %}
                                    <li>{{ ingredient.ingredient.name|title }} qty {{ ingredient.quantity }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}