{% extends 'base.html' %}

{% block title %} - Hand Craft Calculator{% endblock %}

{% set single_input = data['single_input'] %}
{% set single_output = data['single_output'] %}
{% set number_of_ticks = data['number_of_ticks'] %}
{% set single_qty = data['single_qty'] %}

{% block content %}
<div class="container">
    <div class="hand-craft-container">
        <form method="get">
            <table>
                <tr class="hand-craft-row">
                    <td class="hand-craft-header">
                        <label for="single_input">Cost Each:</label>
                    </td>
                    <td>
                        <input name="single_input" id="single_input" class="hand-craft-input" type="number" value="{{ single_input }}" min="1" step="1" required>
                    </td>
                <tr class="hand-craft-row">
                    <td class="hand-craft-header">
                        <label for="single_qty">Qty On Hand:</label>
                    </td>
                    <td>
                        <input name="single_qty" id="single_qty"  class="hand-craft-input" type="number" value="{{ single_qty }}" min="1" step="1" required>
                    </td>
                </tr>
                <tr class="hand-craft-row">
                    <td class="hand-craft-header">
                        <label for="number_of_ticks">Number of Ticks:</label>
                    </td>
                    <td>
                        <input name="number_of_ticks" id="number_of_ticks"  class="hand-craft-input" type="number" value="{{ number_of_ticks }}" min="1" step="1" required>
                    </td>
                </tr>
                    <td colspan="2">
                        <input type="submit" value="Calculate" class="hand-craft-submit">
                    </td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
                <td>Cycles Remaining: {{ data['cycles_remaining'] }}</td>
            </tr>
            <tr>
                <td>Time Remaining: {{ data['time_remaining'][0] }} minutes {{ data['time_remaining'][1] }} seconds</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}