.component-heading {
    background-color: black;
    color: white;
    padding: 10px;
}

.navbar {
    background-color: orange;
}

.main-icon {
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 12px 20px 15px 20px;
    font-size: 2rem;
    border-radius: 1rem;
}

.my-nav-link {
    background-color: lightgray;
    color: black;
    font-size: 1rem;
    border-radius: 0.75rem;
}